/* Primo Charas - default.css version 0.1.1 */

/* global tag settings */
body {
  background-color: #e6e6e6;
}

/* grouped class settings */
.hamburger-menu {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px;
}
.center-text {
  text-align: center;
}


/* individual ID settings */


