<DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/views/default.css" />
  <title>Primo Charas: Industry Stocks</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/index.html" >Home</a></li>
        <li><a href="/views/IndustryStocks.html" target="_blank">Industry Stocks</a></li>
        <li><a href="/views/Brands.html" target="_blank"></a></li>
        <li><a href="/views/HealthSafety.html" target="_blank"></a></li>
        <li><a href="/views/Doctors.html" target="_blank"></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Industry Stocks</h1>
    <h2>Biggest Gains</h2>
    <ul>
      <li></li>
    </ul>
    <h2>Lowest Losses</h2>
    <ul>
      <li></li>
    </ul>
  </main>
  <footer>
    <nav>
    </nav>
  </footer>
<script src="/controllers/main.js"></script>
</Body> 
</html>
